<% provide(:title, "Home") %>
<div class="section center valign-wrapper">

	<div class="container">



      <div class = "row">
        <h1>Never stop Learning.</h1>

        <h2>
          Imagine Dragons
        </h2>

		<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
      </div>
      </div>
  </div>

