<div class="container">
  <h2>Congratulations!</h2>
  <h5 class="center" style="font-style: italic">Your have passed this course.</h5>
  <img class="responsive-img certificate" src="<%= asset_path "certificate.png" %>">

</div>

