<div class = "container">
  <h2>Congratulations!</h2>
  <h5 class= "center" style="font-style: italic">Your have passed this course.</h5>
  <iframe src=<%= asset_path "certificate.pdf" %> width="100%" height="100px" style="border: none;"> </iframe>
</div>

