<div class="col s12 m4">
  <div class="card medium disabled">

    <div class="card-image waves-effect waves-block waves-light">
      <a href="<%=createTempCourse_path%>"><img class="activator" src=<%= asset_path "NewCourse.png" %>></a>
    </div>
    <div class="card-content">
      <span class="card-title activator green-text text-darken-2"><a href="<%=createTempCourse_path%>">Create New Course</a></span>

    </div>

  </div>
</div>
