<div class="col s12 m6">
  <div class="card grey lighten-3 small disabled">

    <div class="card-content">
      <span class="card-title activator orange-text text-darken-2"><a href="<%= course_createTempChapter_path params[:id] %>">Create New Chapter</a></span>

      <p>Enter Chapter Description</p>
    </div>

  </div>
</div>