<div class="container">
  <% if !@active_courses.first.nil? %>
      <h2 style="margin-bottom:10px">Current Courses</h2>
  <% end %>

  <div class="row">

    <% @active_courses.each do |course| %>
        <%= render 'courses/editCourseCard', course: course %>
    <% end %>
  </div>
  <% if !@available_courses.first.nil? %>
      <h2>Availaible Courses</h2>
  <% end %>

  <div class="row">


    <% @available_courses.each do |course| %>
        <%= render 'courses/editCourseCard', course: course %>
    <% end %>
    <% if current_user.clearance>1 %>
        <%= render 'courses/disabledCourseCard' %>
    <% end %>
  </div>


</div>











