<div class="container">

  <h2><%= @course.name %></h2>

  <h3>Chapters</h3>
  <ul class="collapsible" data-collapsible="expandable">

    <li>
      <div class="collapsible-header active">Current Chapters</div>
      <div class="collapsible-body">
        <div class="row">
          <% @chapters.each do |chapter| %>
              <% if passed?(chapter)==0 %>
                  <%= render 'courses/failChapterCard', chapter: chapter %>
              <% elsif passed?(chapter)==-1 %>
                  <%= render 'courses/editChapterCard', chapter: chapter %>
              <% end %>
          <% end %>
        </div>
      </div>
    </li>

    <li>
      <div class="collapsible-header">Finished Chapters</div>
      <div class="collapsible-body">
        <div class="row">
          <% @chapters.each do |chapter| %>
              <% if passed?(chapter)==1 %>
                  <%= render 'courses/passChapterCard', chapter: chapter %>
              <% end %>
          <% end %>
        </div>
      </div>
    </li>

  </ul>
</div>

