<div class="container">
  <!-- Table -->
  <table class="centered bordered hoverable">
    <thead>
    <tr>
      <th>User Name</th>
      <th>Email Address</th>
    </tr>
    </thead>
    <% @users.each do |user| %>
        <tr>
          <td style="width:50%">
            <%= link_to user.name, user %>
          </td>
          <td style="width:50%">
           <%= link_to user.email, user %>
          </td>
        </tr>
    <% end %>



  </table>
</div>